@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 68, 94;
  --background-end-rgb: 24, 154, 180;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

/* Custom hover effect for navigation */
@layer utilities {
  .hover-underline {
    @apply relative after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-amber-400 after:transition-all after:duration-300 hover:after:w-full;
  }
}

/* Ensure the footer stays at the bottom */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

